@import "../../node_modules/rmr-util/src/styles/_rmr-vars.scss";
@import "../../node_modules/rmr-popover/src/styles/rmr-popover";

@import "_mapbox";


.rmr-map-point {
  // pin-white
//  background-image: url('../assets/pin.svg');
  background-image: url('https://raw.githubusercontent.com/davidfmiller/rmr-map/main/docs/assets/pin.svg');

  background-size: 100% 100%;
  width: 30px;
  height: 30px;
//  transition: background-image $rmr-transition-duration-short;
  border-radius: 5px;
  cursor: pointer;

  &.rmr-selected {
    // pin-red
//    background-image: url('../assets/pin-selected.svg');
    background-image: url('https://raw.githubusercontent.com/davidfmiller/rmr-map/main/docs/assets/pin-selected.svg');
  }
}



// .rmr-map.rmr-interactive {
//   .rmr-map-point {
//     cursor: pointer;
//   }
// }

#mapbox {
  opacity: 0;
  transition: $rmr-transition-duration-short;
  &.rmr-load {
    opacity: 1;
  }
}

div.rmr-popover {
  font-size: 10px;
}


.mapboxgl-popup-close-button {
  padding: 3px;
}

.mapboxgl-popup-content {
  padding: 3px 20px 3px 5px;
  a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: #000;
    }
  }
}
